body {
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-container {
    width: 800px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -400px;
}

.panel {
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.header {
    left: 47%;
    top: 90px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.header-text {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    width: 220px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    left: 25%;
    top: 89%;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 55%;
}

.footer button {
    font-size: 20px;
    margin-left: 9px;
    cursor: pointer;
    width: 134px;
    height: 50px;
    background-color: lightblue;
    -webkit-box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
    border: 5px solid chocolate;
    font-weight: bold;
}
.footer button:hover{
    background-color: rgb(77, 33, 2);
    color: #fff;
}
.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 520px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 20%;
    background-color: rgba(227, 110, 31, 0.848);
    border: 8px solid burlywood;
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid black;
}

.player_0 {
    background-color: white;
}

.player_1 {
    background-color: red;
}

.player_2 {
    background-color: blue;
}